*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "poppins";
    background-color: #E6D7F3;
}

body h1{
    font: weight 500px;
    text-align: center;
    margin: 50px;
}

.box{
    display: flex;
    align-items:center;
    justify-content: space-evenly;
    margin: 50px;
}

.smartwatch{
    height: 370px;
    width: 300px;
    background-color: white;
    box-shadow: 0 0 20px rgba(66, 159, 139, 0.6);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

 img{
    height: 250px;
    width: 250px;
}

.headphone{
    height: 370px;
    width: 300px;
    background-color: white;
    box-shadow: 0 0 20px rgba(66, 159, 139, 0.6);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.band{
    height: 370px;
    width: 300px;
    background-color: white;
    box-shadow: 0 0 20px rgba(66, 159, 139, 0.6);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.band img{
    height: 230px;
    width: 200px;
}