*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.header{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  
  

}
.header .head{
    background-color: black;
    height: 50px;
    width: 95%;
    color: white;
    padding: 20px;
  
}
.tags{
  
    height: 1000px;
    width: 10%;
    background-color: rgb(209, 217, 219);
    margin-left: 20px;
    margin-top: 15px;
   padding: 30px;
    align-items: center;
}
.tags .list{
 padding: 15px;
 align-items: center;

}
.main{
  
    height: 1000px;
    width: 80%;
    background-color: rgb(209, 217, 219);
    margin-left: 250px;
    margin-top: -1060px;
    padding: 20px;
     
}
.main .post{
    padding: 20px;
}


.main .img-1{
    
    height: 150px;
    width: 250px;
    border: 2px solid black;
}
p::first-letter {
  font-size: 200%;
  color: red;
}
p::selection {
  background-color: yellow;
  color: red;
  
}


.main .post-2{
    padding: 20px;
}


.main .img-2{
    
    height: 150px;
    width: 250px;
    border: 2px solid black;
}
p::first-letter {
  font-size: 200%;
  color: red;
}
p::selection {
  background-color: yellow;
  color: red;
  
}
.comment{
    padding: 20px;
}
.list-1{
    /* padding: 20px; */
    padding-left: 60px;
}
.description .b-1{
    background-color: #F1F8E9;

}
.description .b-2{
    background-color: #E0F7FA;

}
.description .b-3{
    background-color: #F1F8E9;
    color: red;

}
.description .b-4{
    background-color: #E0F7FA;

}
.b-1::selection {
  background-color: yellow;
  color: red;
  
}